<div class="about-us-container">
    <p>
        Військова агресія Росії спричинила надзвичайно важку гуманітарну ситуацію в Україні.<br>
        За даними ООН, уже близько 10 млн українців були змушені залишити свої домівки та шукати прихисток у більш безпечних місцях центральної й західної України внаслідок жорстокого вторгнення Російської Федерації в Україну.<br>
        Домівки одних були повністю зруйновані, інші були ізольовані від комунальних сервісів першої необхідності, таких як їжа, тепло, вода, електрика та звʼязок, треті намагались вивезти свою сімʼю із-за загрози ракетних чи артилерійських вибухів.<br>
        Так чи інакше, тисячі моїх співгромадян виїжджають щоденно з великих та маленьких містечок північної, південної та східної України у пошуках безпеки та тепла.<br>
        Саме тому я створив сервіс надання та пошуку житла.
    </p>
    <div class="photos-container">
        <img src="https://media.slovoidilo.ua/media/publications/16/154684/ilyustratyvne-foto_large.jpg">
        <img src="https://img.pravda.com/images/doc/3/5/35157a9-1viyna.jpg">
    </div>
</div>